# Dependencies
node_modules/
/One_Day_BE/node_modules
/one_day_fe_react/node_modules

# Environment variables
.env
/One_Day_BE/.env

# Miscellaneous
.DS_Store
*.log
\n# Build artifacts\none_day_fe_react@0.1.0\nreact-scripts
