.illustrated-calendar-icon {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: #ffffff; /* 흰색 배경 */
    border: none; /* 테두리 제거 */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 옅은 회색 그림자 */
    transition: transform 0.2s;
}

.illustrated-calendar-icon:hover {
    transform: translateY(-2px);
}

.calendar-top-bar {
    height: 8px;
    background-color: #FF7581;
    border-radius: 4px 4px 0 0;
}

.calendar-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-day {
    font-size: 18px;
    font-weight: 700;
    color: #FF7581;
}
