.mini-calendar {
    width: 100%;
    font-family: 'Pretendard', sans-serif;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    transform: translate(-1px, 0px);
}

.mini-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #383838;
}

.mini-calendar-header button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #FF7581;
}

.mini-calendar-weekdays,
.mini-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.mini-weekday {
    font-weight: bold;
    color: #868e96;
    padding: 5px 0;
    font-size: 0.8em;
}

.mini-day-cell {
    padding: 8px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 0.9em;
    color: #343a40;
}

.mini-day-cell:hover {
    background-color: #f0f0f0;
}

.mini-day-cell.other-month {
    color: #ced4da;
}

.mini-day-cell.selected {
    background-color: #FF7581;
    color: white;
    font-weight: bold;
}