.mini-calendar {
    width: 100%;
    font-family: 'Pretendard', sans-serif;
    border-radius: 10px;
    /* Removed padding: 10px; */
    box-sizing: border-box;
    background-color: white;
    /* Removed transform: translate(-1px, 0px); */
    margin-top: 20px; /* Added to move the calendar down */
}

.mini-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Reduced */
    font-weight: bold;
    color: #383838;
}

.mini-calendar-header button {
    background: none;
    border: none;
    font-size: 1em; /* Reduced */
    cursor: pointer;
    color: #FF7581;
}

.mini-calendar-weekdays,
.mini-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 4px; /* Increased gap */
}

.mini-weekday {
    font-weight: bold;
    color: #868e96;
    padding: 3px 0; /* Reduced */
    font-size: 0.7em; /* Reduced */
}

.mini-day-cell {
    padding: 5px 0; /* Reduced */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 0.8em; /* Reduced */
    color: #343a40;
}

.mini-day-cell:hover {
    background-color: #f0f0f0;
}

.mini-day-cell.other-month {
    color: #ced4da;
}

.mini-day-cell.selected-start {
    background-color: #FF7581;
    color: white;
    font-weight: bold;
    border-top-left-radius: 1000%;
    border-bottom-left-radius: 1000%;
}

.mini-day-cell.selected-end {
    background-color: #FF7581;
    color: white;
    font-weight: bold;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.mini-day-cell.selected-between {
    background-color: #ffe1e3; /* Light pink for dates within the range */
    color: #FF7581;
}

/* If a single day is selected, it's both start and end */
.mini-day-cell.selected-start.selected-end {
    border-radius: 50%;
}