.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px; /* Increased padding for softer look */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.calendar-area {
  overflow: hidden; /* Added to contain calendar content */
  display: flex;
  /* Additional styling for calendar area if needed */
}

.dashboard-area {
  display: flex;
  flex-direction: column;
  /* Additional styling for dashboard area if needed */
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #c0c0c0;
  font-size: 20px;
}

.tab.active {
  color: #7c8083;
  border-bottom-color: #7c8083;
}