/* MainLayout.css */

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px; /* Adjusted padding */
    background-color: transparent; /* Transparent background */
    border-bottom: none; /* No border */
    height: 80px; /* Adjusted height */
    box-sizing: border-box;
    flex-shrink: 0;
}

.logo-container h1 {
    font-size: 33px; /* From Figma */
    font-weight: bold;
    color: #ff7581; /* From Figma */
    margin: 0;
}

.logo-container p {
    font-size: 14px;
    color: #909090; /* From Figma */
    margin: 0;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: transparent; /* Make content background transparent */
}
